@import 'var';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: @accent;
    font-family: @font-family-sans;
}

html{
    scroll-behavior: smooth;
}

body{
    // background-color: @background;
    font-size: .9rem;
    background-image: url('../assets/home-bg.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

input{
    color: @accent;
}

a{
    text-decoration: none;
    color: @main;
    transition: .2s ease;
    display: inline-block;

    &:hover{
        color: lighten(@main, 20%);
    }
}

h1,h2,h3,h4,h5,h6{
    color: @white;
    font-weight: 400;
}

h1{font-size: 1.8rem;}
h2{font-size: 1.35rem;}
h3{font-size: 1.2rem;}

.container{
    max-width: @breakpoint-lg;
    margin: 0 auto;
}

.sectionb{
    background-color: @main;
}

::-webkit-scrollbar{
    width: .9rem;
    height: .9rem;
}

::-webkit-scrollbar-track{
    background-color: #888;
}

::-webkit-scrollbar-thumb{
    background-color: #222;

    &:hover{
        background-color: #333;
    }
}

@import 'index';
@import 'products';
@import 'products_show';
@import 'cart';
@import 'login';
@import 'account';
@import 'footer';